.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus{outline:none;}
.slides, .flex-control-nav, .flex-direction-nav{margin:0; padding:0; list-style:none;} 

.flexslider{position:relative; margin:0; padding:0;}
.flexslider .slides > li{display:none; -webkit-backface-visibility:hidden;}
.flexslider .slides img{display:block; width:100%;}

.slides:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;} 
html[xmlns] .slides{display:block;} 
* html .slides{height:1%;}

.flex-viewport{max-height:2000px; -webkit-transition:all 1s ease; -moz-transition:all 1s ease; transition:all 1s ease;}
.loading .flex-viewport{max-height:300px;}

/* Overrides */

#slider{position:relative; display:block; width:960px; height:420px; margin:0 auto; overflow:hidden;}
#slider ul.slides{margin:0; padding:0; list-style:none; border:none;}
#slider ul.slides li{position:relative;}
#slider ul.slides li img{}
#slider ul.slides li div{position:absolute; display:block; bottom:100px; right:30px; width:400px; margin:0; padding:20px 30px 30px 30px;}
#slider ul.slides li div h2{margin:0 0 30px 0; font-size:32px; line-height:28px;}
#slider ul.slides li div p{margin:0 0 20px 0; font-size:16px; line-height:1.4em;}
#slider ul.slides li div p.more{margin:0; line-height:normal;}
#slider ul.slides li div p.more a{display:inline; padding:8px 10px; text-transform:uppercase; font-weight:bold;}

#slider ol{position:absolute; display:inline-block; top:20px; width:100%; margin:0; padding:0; text-align:center; z-index:10;}
#slider ol li{display:inline-block; margin:0; padding:0;}
#slider ol li a{display:inline-block; width:16px; height:0; margin:0 5px; padding:16px 0 0 0; overflow:hidden; cursor:pointer;}
#slider ol li a:hover, #slider ol li a.flex-active{background-position:0 -16px;}

#slider ul.flex-direction-nav{}
#slider ul.flex-direction-nav li a{position:absolute; display:block; bottom:2px; width:28px; height:52px; cursor:pointer; text-indent:-9999px; z-index:10;}
#slider ul.flex-direction-nav li a.flex-prev{background-position:0 100%; left:0;}
#slider ul.flex-direction-nav li a.flex-next{right:0;}